<template>
  <div>
    <div>
      Build with skills details (Fr/En syntax available)
      <gw-build>
        [build prof=El/G feu=10 air=5 epe=1][Flammes virulentes][Boule de
        feu][Liens incendiaires][Eclat de feu][Regard embrasé][Tempête de
        feu][Décharge électrique][Bourrasque][/build]
      </gw-build>
      <gw-build>
        [build prof=E/W fire=10 air=5 sword=1][searing
        flames][fireball][incendiary bonds][flare][glowing gaze][fire
        storm][shock][gale][/build]
      </gw-build>
    </div>
    <div>
      <div>
        Build with template code
      </div>
      <gw-build>
        [build=OAAjooIFVM0NdxsQYMWLGnDRB]
      </gw-build>
    </div>
    <div>
      Display just a skill with skills points (here Meteor Shower is Fire Magic,
      so '@10' indicate 10 points in this attribute)
      <gw-build>
        [pluie de météores@10] ou [[pluie de météores@10]
      </gw-build>
      <gw-build>
        [meteor shower@10] ou [[meteor shower@10]
      </gw-build>
    </div>
  </div>
</template>

<script>
// import GwBbCode from '../lib/gw-bb-code'
export default {
  components: {
    // GwBuild: GwBbCode
  },
  data() {
    return {
      FireBuild:
        '[build prof=El/G feu=10 air=5 epe=1][Flammes virulentes][Boule de feu][Liens incendiaires][Eclat de feu][Regard embrasé][Tempête de feu][Décharge électrique][Bourrasque][/build]'
    }
  }
}
</script>
