<template>
  <div class="gwbbcode">
    <slot></slot>
  </div>
</template>

<script>
/* eslint-disable no-undef */

export default {
  name: 'GwBbCode',
  data() {
    return {
      lang: this.$lang ? this.$lang : 'en',
      apiUrl: this.$apiUrl
        ? this.$apiUrl
        : 'http://gwbbcode.arnapou.net/gwbbcode/api.js'
    }
  },
  mounted() {
    this.loadAPI()
    document.onreadystatechange = () => {
      if (document.readyState == 'complete') {
        this.initLoading(this.lang)
      }
    }
  },
  methods: {
    // eslint-disable-next-line no-unused-vars
    loadAPI(isLocal = false) {
      let script = document.createElement('script')
      // let api = 'http://gwbbcode.arnapou.net/gwbbcode/api.js'
      // let local = '../public/gwbbcode/api.js'
      // script.setAttribute('src', isLocal ? local : api)
      script.setAttribute('src', this.apiUrl)
      script.setAttribute('type', 'text/javascript')
      document.head.appendChild(script)
    },
    initLoading(lang) {
      GWConfig.lang = lang
      GWOnLoad(function() {
        GWBBCodeParse('.gwbbcode')
      })
    }
  }
}
</script>
